<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p> Ваша запись была удалена.</p>
</body>
</html>


<div class="books_item_footer"></div>
{% for book in books%} 
<p>{{ book.created_at }}</p>
<div class="action_buttons">
    {% if book.is_favorites %}
    <a href="{% url 'unmarked-book' books.id %}">
        <img src="{% static './icons/star_done.png' %}"/></a>
    {% else %}
    <a href="{% url 'marked-book' books.id %}">
        <img src="{% static './icons/favorites.png' %}"/></a>
    {% endif %}

    <a href="{% url 'delete-book' books.id %}">
        <img src="{% static './icons/delete_icon.png' %}" /></a