<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books
    </title>
   
</head>
<body>
  
<section>
    <div class ="create_container">
        <h1>Добавить новую книгу</h1>
       <form action="{% url 'add-book' %}" method = "POST">
            {% csrf_token %}
            <input class="create_book" type="text" placeholder="Заголовок" name="title"><br><br>
            <input class="create_book" type="text" placeholder="Подзаголовок" name="subtitle"><br><br>
            <input type="number" placeholder="Цена" name="price "><br><br>
            <input class="create_book" type="text" placeholder="Жанр книги" name="genre" ><br><br>
            <input class="create_book" type="text" placeholder="Автор" name="author" ><br><br>
            <input class="create_book" type="text" placeholder="Описание " name="description" ><br><br>

            <input class="create_book" type="datetime" placeholder="Год издания" name="year" ><br><br>

        <button class="create_button"> Добавить </button>
            
        </form>
        <div>
            {% for book in books %}
            <h3>{{ book.title}} - {{book.author}}</h3>
            <h3>{{ book.genre}} - {{book.subtitle}}</h3>
            <h3>{{ book.datetime}} - {{book.price}}</h3> 
           {% endfor%}
        </div>
    </div>
    
    </section>
</body>
</html>