<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books
    </title>
    <link rel="stylesheet" href="{% static './styles/index.css' %}" />
    <link rel="stylesheet" href="{% static './styles/cheсkbox.css'%)"/>
   
</head>
<body>
  
<section>
    <div class ="create_container">
         <form action="{% url 'add-book' %}" method = "POST">
            {% csrf_token %}
            <input class="create_book" type="text" placeholder="Заголовок" name="title"><br><br>
            <input class="create_book" type="text" placeholder="Подзаголовок" name="subtitle"><br><br>
            <input type="number" placeholder="Цена" name="price "><br><br>
            <input class="create_book" type="text" placeholder="Жанр книги" name="genre" ><br><br>
            <input class="create_book" type="text" placeholder="Автор" name="author" ><br><br>
            <input class="create_book" type="text" placeholder="Описание " name="description" ><br><br>

            <input class="create_book" type="datetime" placeholder="Год издания" name="year" ><br><br>

        <button class="create_button"> Добавить </button>
            
        </form>
    </div>
    <div class = "book_container">
        
        <div class = "book_item">
            {% if books.is_favorites%}
                marked
            {% endif %}
    <div class="book_item_header">
        {% for book in books %}
        <h3>{{ book.title}} - {{book.author}}</h3>
        <h3>{{ book.genre}} - {{book.subtitle}}</h3>
        <h3>{{ book.datetime}} - {{book.price}}</h3> 
        {% endfor%}
    </div>
    <div class="todo_item_footer">
        <p>{{ todo.created_at }}</p>
        <div class="action_buttons">
            {% if todo.is_favorites %}
            <a href="{% url 'unmarked-todo' todo.id %}"><img src="{% static './icons/star_done.png' %}"/></a>
            {% else %}
            <a href="{% url 'marked-todo' todo.id %}"><img src="{% static './icons/favorites.png' %}"/></a>
            {% endif %}

            
            <a href="{% url 'delete-todo' todo.id %}"><img src="{% static './icons/delete_icon.png' %}" /></a>
         </div>
     </div>
     </div>

</div>
    </section>
</body>
</html>