<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do </title>
    <link rel="stylesheet" href="./styles/chekbox.css">
    <link rel="stylesheet" href="./styles/index.css">
</head>
<body>
    <section>
<div class ="create_container">
    <input class="create_input" type="text" placeholder="Напишите сюда что-нибудь">
    <button class="create_button"> Добавить </button>
</div>

<div class="todo_container">
    <div class="todo_item">
        <div class="todo_item_header">
            <label class="сheckbox_container">
                <input type="checkbox"/>
                <span class="checkmark"></span>

            </label>
            <h4>Купить тетрадь</h4>
        </div>
        <div class="todo_item_footer">
            <p>24 12 2020 <span> 17:15</span></p>
            <div class="action_buttons">
                <img src="./styles/icons/star_done.png" >
                <img src="./styles/icons/delete_icon.png" >
            </div>
        </div>
    </div>
    <div class="todo_item marked">
        <div class="todo_item_header">
            <label class="сheckbox_container">
                <input type="checkbox"/>
                <span class="checkmark"></span>

            </label>
            <h4>Купить тетрадь</h4>
        </div>
        <div class="todo_item_footer">
            <p>24 12 2020 <span> 17:15</span></p>
            <div class="action_buttons">
                <img src="./styles/icons/favorites.png" >
                <img src="./styles/icons/delete_icon.png" >
            </div>
        </div>
    </div>
    <div class="todo_item done">
        <div class="todo_item_header">
            <label class="сheckbox_container">
                <input type="checkbox"/>
                <span class="checkmark"></span>

            </label>
            <h4>Купить тетрадь</h4>
        </div>
        <div class="todo_item_footer">
            <p>24 12 2020 <span> 17:15</span></p>
            <div class="action_buttons">
                <img src="./styles/icons/favorites.png" >
                <img src="./styles/icons/delete_icon.png" >
            </div>
        </div>
    </div>
    <div class="todo_item marked">
        <div class="todo_item_header">
            <label class="сheckbox_container">
                <input type="checkbox"/>
                <span class="checkmark"></span>

            </label>
            <h4>Купить тетрадь</h4>
        </div>
        <div class="todo_item_footer">
            <p>24 12 2020 <span> 17:15</span></p>
            <div class="action_buttons">
                <img src="./styles/icons/favorites.png" >
                <img src="./styles/icons/delete_icon.png" >
            </div>
        </div>
    </div>
    <div class="todo_item">
        <div class="todo_item_header">
            <label class="сheckbox_container">
                <input type="checkbox"/>
                <span class="checkmark"></span>

            </label>
            <h4>Купить тетрадь</h4>
        </div>
        <div class="todo_item_footer">
            <p>24 12 2020 <span> 17:15</span></p>
            <div class="action_buttons">
                <img src="./styles/icons/star_done.png" >
                <img src="./styles/icons/delete_icon.png" >
            </div>
        </div>
    </div>
    <div class="todo_item done">
        <div class="todo_item_header">
            <label class="сheckbox_container">
                <input type="checkbox"/>
                <span class="checkmark"></span>

            </label>
            <h4>Купить тетрадь</h4>
        </div>
        <div class="todo_item_footer">
            <p>24 12 2020 <span> 17:15</span></p>
            <div class="action_buttons">
                <img src="./styles/icons/favorites.png" >
                <img src="./styles/icons/delete_icon.png" >
            </div>
        </div>
    </div>
</div>
    </section>
</body>
</html>